<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="voicerecorder.applico.voice.recorder.core.notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="voicerecorder.applico.voice.recorder.ACTION_SHOW_REMINDER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
