<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name="voice.recorder.recordingvoice.cct.core.media.recording.RecordingService"
            android:foregroundServiceType="microphone"
            android:exported="false" />

        <service
            android:name="voice.recorder.recordingvoice.cct.core.media.playback.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
    </application>
</manifest>
